body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 200vh;
}

.first-section {
    display: flex;
    flex-direction: column;
    flex: 8;
    padding: 0 300px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#header-logo {
    font-weight: 24px;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.hero {
    display: flex;
    flex: 5;
    justify-content: space-between;
    align-items: center;
}

.hero-context {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 10px;
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
}

#hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 600px;
    height: 300px;
    border-radius: 5px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    font-size: 18px;
    width: 130px;
    height: 40px;
    font-weight: bold;
}

.second-section {
    display: flex;
    flex: 8;
    flex-direction: column;
    align-items: center;
}


.cards {
    display: flex;
    flex: 4;
    gap: 100px;
    text-align: center;
}

.test2 {
    flex: 2;
}

.card {
    max-width: 300px;
}

.card img {
    width: 300px;

}

.third-section {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 30px;
}

.third-content {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
}

.quotee {
    font-weight: bold;
    font-size: 24px;
}

.fourth-section {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-content {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    width: 1200px;
    height: 170px;
    color: #F9FAF8;
    border-radius: 15px;
}

.fourth-content button {
    border: 2px solid #F9FAF8;
    font-size: 18px;
    width: 130px;
    height: 40px;
}

.bold {
    font-weight: bold;
    font-size: 28px;
}

.footer {
    flex: 2;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}