.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
  }

.first-content {
    display: flex;
}

img {
    width: 300px;
}