body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 200vh;

}

.header {
    display: flex;
flex: 1;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: #F9FAF8;
  }

.first-content {

    display: flex;
    flex: 5;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 400px;
    border-radius: 5px;
}

.first-section {
    display: flex;
    flex-direction: column;
    flex: 8;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 300px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.second-section {
    display: flex;
    flex: 8;
    flex-direction: column;
    align-items: center;
}


.cards {
    display: flex;
    flex: 4;
    gap: 100px;
    text-align: center;
  }

  .test2 {
      flex: 2;
  }
  
  .card {
    max-width: 300px;
  }

.card img {
    width: 300px;
    
}

.third-section {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 30px;
}

.third-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: flex-end;
}

.quote {
    font-size: larger;
}

.quotee {
    font-weight: bold;
}

.fourth-section {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-content {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    width: 800px;
    height: 100px;
    color: #F9FAF8;
}

.fourth-content button{
    border: 2px solid #F9FAF8;
}

.bold {
    font-weight: bold;
    font-size: large;
}

.footer {
    flex: 2;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    max-width: 500px;
    font-size: larger;
}