.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
  }

.first-content {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
}

.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    width: 100px;
    height: 30px;
    font-weight: bold;
}