body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
  }

.first-content {
    display: flex;
    justify-content: space-between;
}

img {
    width: 400px;
    border-radius: 5px;
}

.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 150px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
  }
  
  .card {
    max-width: 200px;
  }

.card img {
    width: 200px;
    
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 30px;
}

.third-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: flex-end;
}

.quote {
    font-size: larger;
}

.quotee {
    font-weight: bold;
}

.fourth-section {

    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    width: 1200px;
    height: 100px;
    color: #F9FAF8;
}

.fourth-content button{
    border: 2px solid #F9FAF8;
}

.bold {
    font-weight: bold;
    font-size: large;
}