body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
  }

.first-content {
    display: flex;
    justify-content: space-between;
}

img {
    width: 300px;
    border-radius: 5px;
}

.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 150px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: #3882f6;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

